**/build/
**/dist/
**/nbproject/private/
**/.nb-gradle
**/.gradle
**/MyOAuth.properties
**/.DS_Store

# Eclipse specific
**/.classpath
**/.project
**/.settings/
**/bin/

# Intellij
**/.idea

#
/*/config.properties